            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="site-title-wrapper">
                    <h1 class="site-title">
                        <a class="js-ajax-link" title="{{ .Title }}" href="{{ .Site.BaseURL }}">{{ .Title }}</a>
                    </h1>

                    <a class="button-square button-jump-top js-jump-top" href="#">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>

                <p class="footer-copyright">&copy; {{ .Date.Format "2006" }} / Published with <a href="https://ghost.org">Ghost</a> / <a href="https://github.com/roryg/ghostwriter">Ghostwriter theme</a> By <a href="http://jollygoodthemes.com">JollyGoodThemes</a></p>
            </div>
        </footer>

        <script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery.history.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/js/nprogress.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/js/scripts.js"></script>
    </body>
</html>
